.btnSalvarAlteracoes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  background-color: #fff;
  width: 100vw;
  box-sizing: border-box;
}
.btnSalvarAlteracoes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 60px;
  border-radius: 10px;
  color: white;
  background-color: #FFA114;
  font-weight: bold;
  font-size: 24px;
}

@media (max-width: 60rem) {
  span {
    display: none;
  }
  .btnSalvarAlteracoes {
    width: 400px;
    height: 40px;
    border-radius: 30px;
    font-size: 16px;
  }
}
