.formularioCadastro-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.formularioCadastro-container input{
  padding: 0px 10px;
  border-radius: 5px;
}

.formularioCadastro-container .flex-wrapper{
  height: 450px;
}
.box1{
  display: flex;
  width: 100%;
}
.box2{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}
.box2 input{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 150px;
}
