.formularioCadastro-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
.formularioCadastro-container .box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}