.btnFechar-container {
  position: absolute;
  right: 2%;
  top:3%;
}

.btnFechar-container button {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background-color: #ff0852;
  font-weight: bold;
  font-size: 18px;
}

