.btnDeletar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #fff;
  width: 100vw;
  box-sizing: border-box;
}
.btnDeletar-container div{
  display: flex;
  gap: 20px;
}
.btnDeletar {
  width: 160px;
  height: 50px;
  border-radius: 10px;
  background-color: #FF1E1E;
  font-weight: bold;
  font-size: 16px;
}

@media (max-width: 66rem) {
  .btnDeletar-container button {
    width: 100px;
    height: 40px;
    font-size: 16px;
  }
  .btnDeletar-container div{
    gap: 10px;
  }
}
