.btnCadastrar-container {
  position: absolute;
  left: 4%;
  bottom: 20%;
}
.btnCadastrar-container span {
  color: #1eff42;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}
.btnCadastrar-container ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btnCadastrar-container button {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #1eff42;
  font-weight: bold;
  font-size: 54px;
}

@media (max-width: 66rem) {
  span {
    display: none;
  }
  .btnCadastrar-container button {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    font-size: 44px;
  }
  .btnCadastrar-container {
    left: 4%;
    bottom: 25%;
  }
}
