.lista-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  
}

.lista-container ul{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 60px;
  background-color: #fff;
  padding: 10px;
  width: 90vw;
  box-sizing: border-box;
  border-radius: 5px;
}
li{
  list-style: none;
  width: 150px;
}
@media (max-width: 60rem) {
  .visible{
    display: none;
  }
}
button{
  background-color: #1EBBFF;
  width: 54px;
  height: 26px;
  border: none;
  color: #fff;
  border-radius: 10px;
}